.a-logo {
    display: block;
    height: 50px;
    font-size: 34px;
    line-height: 50px;
    color: #000;
    margin-top: 10px;
}

.price {
    font-size: 16px;
    color: black;

    .inner-price {
        color: red;
        margin-left: 2px;
    }
}
@media (max-width: 768px) {
    .price {
        font-size: 26px;
 
    }
    .index-page{
        .fullscreen-element{
            padding-top: 20px;
            padding-bottom: 270px;
        }
        .background-image-holder{
            background-position: 90% 50% !important;
        }
    }
    
  }

  .wine-item{
    &:hover{
      border-radius: 8px;
    border: 1px solid #ff0f23;
    -webkit-box-shadow: 2px 4px 16px #00000029;
    box-shadow: 2px 4px 16px #00000029;
   
    }
  }

  /* @media (max-width: 767px) {
    .hidden-xs {
      display: none !important;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
      display: none !important;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
      display: none !important;
    }
  }
  @media (min-width: 1200px) {
    .hidden-lg {
      display: none !important;
    }
  } */