<script src="//apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
  window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.11.1.min.js"><\/script>')
</script>
<script src="{{ site.url }}/assets/js/vendor/modernizr.js"></script>
<script src="{{ site.url }}/assets/js/foundation.min.js"></script>
{% if page.imagefeature %}
<script src="{{ site.url }}/assets/js/vendor/background-check.js"></script>
<script src="{{ site.url }}/assets/js/vendor/post-header-animations.js"></script>{% endif %}
<script src="{{ site.url }}/assets/js/notepad.js"></script>
<script src="{{ site.url }}/assets/js/scripts.min.js"></script>
<script src="{{ site.url }}/assets/js/vendor/nprogress.js"></script>
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/sigma.js/1.0.3/sigma.min.js"></script>-->
<script src="//apps.bdimg.com/libs/sigma.js/0.1/sigma.min.js"></script>

<script>
  $(document).foundation();
</script>

{% if site.google_analytics %}
<!-- Asynchronous Google Analytics snippet -->
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', '{{ site.google_analytics }}', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');
</script>
{% endif %}
<script>
  NProgress.start();
  var timeNum = 0;
  var interval = setInterval(function () {
    NProgress.inc();
    //如果大于60秒停止检测
    /*if(timeNum>60){
        clearInterval(interval);
        NProgress.done();

    }
    timeNum++;*/
  }, 1000);
  jQuery(window).load(function () {
    clearInterval(interval);
    NProgress.done()
  });
  jQuery(window).unload(function () {
    NProgress.start()
  });
</script>

<!-- ice start-->
<!--<script id="dsq-count-scr" src="//raoenhui.disqus.com/count.js" async></script>-->
<script>
  (function () {
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
      bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    } else {
      bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
  })();
</script>
<!-- ice end-->


<!-- 2d 前端妹子 start -->
<!-- 萌萌哒二次元看板娘 -->
<script src="https://l2dwidget.js.org/lib/L2Dwidget.min.js"></script>
<script type="text/javascript">
  L2Dwidget
    .on('*', (name) => {
      // console.log('%c EVENT ' + '%c -> ' + name, 'background: #222; color: yellow', 'background: #fff; color: #000')
    })
    .init({
      dialog: {
        // 开启对话框
        enable: true,
        script: {
          // 当触摸到角色身体
          'tap body': '哎呀！别碰我！',
          // 当触摸到角色头部
          'tap face': '人家是在认真写博客哦--前端妹子'
        },
        //下载模版地址：https://github.com/xiazeyu/live2d-widget-models.git
        // "model":{"jsonPath":"/live2dw/assets/shizuku.model.json"},
        "mobile":{"show":true}
      }
    });
</script>
<style>
  @media all and (max-width: 900px) {
    #live2d-widget {
      transform-origin: 100% 100% 0;
      transform: scale(0.5);
      -ms-transform: scale(0.5);
      -moz-transform: scale(0.5);
      -webkit-transform: scale(0.5);
      -o-transform: scale(0.5);
    }
  }
</style>
<!-- 2d 前端妹子 end -->